.form-container {
  @apply flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 border border-blue-500;
}

.form-container-logo {
  @apply sm:mx-auto sm:w-full sm:max-w-sm;
}

.form-container-heading {
  @apply text-indigo-600 hover:text-indigo-500;
}

.input-container {
  @apply mt-2;
}

.input-field {
  @apply focus:ring-2 focus:ring-inset focus:ring-indigo-600 ring-1 ring-inset ring-gray-300;
}

.submit-button {
  @apply mt-4;
}

.text-center {
  margin-top: 10rem;
  text-align: center;
  font-size: 1rem;
  color: #a0aec0;
}


.register-link {
  @apply text-indigo-600 hover:text-indigo-500;
}
